i.emoji-on-left,
i.emoji-on-right {
    margin-top:-2px;
    font-style: normal;
}

i.emoji-on-left {
    margin-left:-4px;
    margin-right:4px;
}

i.emoji-on-right {
    margin-right:-4px;
    margin-left:4px;
}