@import '../app.scss';

$table-border-radius: $border-radius;

table.transparent-bg {
    background:transparent;
}

table.transparent-bg > tr > td {
    background:transparent;
}

table.data-list {
    width:100%;
    background: $color3;
    border: 0;
    box-shadow: 0 0 2px $color1;
    border-spacing: 0;
    border-radius: $table-border-radius;
}

table.data-list > thead tr > td,
table.data-list > tbody tr > td {
    padding:8px 16px;
}

table.data-list > thead {
    height:56px;
    color: $color3-text;
}

table.data-list > tbody > tr {
    background:$content-background;
}

table.data-list a {
    color: $accent;
}

table.data-list a.underline-on-hover {
    text-decoration: none;
}

table.data-list a.underline-on-hover:hover {
    text-decoration: underline;
}

table.data-list > tbody > tr:last-child > td:first-child {
    border-bottom-left-radius: $table-border-radius;
}

table.data-list > tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: $table-border-radius;
}

@media only screen and (max-width: 880px) {
    #content {
        margin:0;
    }

    table.data-list > thead tr > td,
    table.data-list > tbody tr > td {
        padding:6px 8px;
    }

    table.data-list {
        border:0;
        border-radius:0;
    }

    table.data-list > thead > tr > td,
    table.data-list > tbody > tr > td {
        font-size:0.6rem;
    }

    table.data-list > thead {
        height:40px;
    }

    table.data-list > tbody > tr:last-child > td:first-child,
    table.data-list > tbody > tr:last-child > td:last-child  {
           border-radius: 0;
    }
}